.breadcrumb-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    .breadcrumb-content {
        .breadcrumb-heading {
            color: $white;
        }
        ul {
            li {
                display: inline-block;
                margin-right: 8px;
                font-size: 14px;
                color: $gray;
                font-weight: 600;
                text-transform: capitalize;
                a {
                    color: $gray;
                    &:hover {
                        color: $primary_color;
                    }
                }
            }
        }
    }
}